@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@plugin "@anuragroy/tailwindcss-animate";

@import "@luminescent/ui";
@import "@luminescent/ui/formatting";

@config "@luminescent/ui-qwik/config";
@source "../node_modules/@luminescent/ui-qwik";

@theme {
  --lum-default-alpha: 70;
  --lum-border-radius: 1.5rem;


  --color-gray-50: oklch(98.5% 0.012 343.839);
  --color-gray-100: oklch(96.7% 0.013 350.542);
  --color-gray-200: oklch(92.8% 0.016 350.531);
  --color-gray-300: oklch(87.2% 0.03 344.338);
  --color-gray-400: oklch(70.7% 0.042 348.325);
  --color-gray-500: oklch(55.1% 0.057 350.364);
  --color-gray-600: oklch(44.6% 0.068 342.802);
  --color-gray-700: oklch(37.3% 0.074 345.733);
  --color-gray-800: oklch(27.8% 0.073 342.848);
  --color-gray-850: oklch(23.2% 0.07 345.733);
  --color-gray-900: oklch(21% 0.074 350.665);
  --color-gray-950: oklch(13% 0.068 352.692);


  --color-lum-border: #dfdfdfaa;
  --color-nav-bg: --alpha(var(--color-pink-950) / 70%);
  --color-bg: var(--color-gray-900);
}

a.lum-btn, a.lum-card {
  color: var(--color-lum-text) !important;
  text-decoration: none;
}

html {
  font-family: Figtree, sans-serif;
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: max(0.7em, 18px);
  margin-bottom: max(0.7em, 18px);
}

img[alt=Attachment] {
  max-width: 200px;
  border-radius: 5px;
}

img {
  border-radius: 0;
}

.shadow-outline {
  filter: drop-shadow(1px 0px 0px var(--color-gray-950))
    drop-shadow(-1px 0px 0px var(--color-gray-950))
    drop-shadow(0px 1px 0px var(--color-gray-950))
    drop-shadow(0px -1px 0px var(--color-gray-950));
}