@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@plugin "@anuragroy/tailwindcss-animate";

@import "@luminescent/ui";

@source "../node_modules/@luminescent/ui-qwik";

.markdown {
  @import "@luminescent/ui/formatting";
}

@theme {
  --lum-border-radius: 1rem;

  --font-display: "Figtree", "sans-serif";

  --color-gray-50: oklch(98.5% 0.01 0);
  --color-gray-100: oklch(96% 0.013 10.44);
  --color-gray-200: oklch(92.2% 0.015 10.44);
  --color-gray-300: oklch(86.5% 0.022 10.44);
  --color-gray-400: oklch(71.1% 0.029 10.44);
  --color-gray-500: oklch(54.2% 0.044 10.44);
  --color-gray-600: oklch(43.5% 0.039 10.44);
  --color-gray-700: oklch(36.4% 0.039 10.44);
  --color-gray-800: oklch(26.3% 0.034 10.44);
  --color-gray-900: oklch(21.2% 0.029 10.44);
  --color-gray-950: oklch(14.5% 0.018 10.44);

  --color-lum-accent: var(--color-red-300);
  --color-lum-border: #dfdfdfaa;
  --color-lum-card-bg: var(--color-gray-500);
  --color-nav-bg: --alpha(oklch(79.66% 0.0957 10.44) / 30%);
  --color-bg: var(--color-gray-950);
  --lum-border-superellipse: 2;

  --lum-depth: 1
}

@supports (corner-shape: squircle) {
  :root {
    --lum-border-radius: 2rem;
  }
}

html {
  overflow: overlay;
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.shadow-outline {
  filter: drop-shadow(1px 0px 0px var(--color-gray-950))
    drop-shadow(-1px 0px 0px var(--color-gray-950))
    drop-shadow(0px 1px 0px var(--color-gray-950))
    drop-shadow(0px -1px 0px var(--color-gray-950));
}