@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@plugin "@anuragroy/tailwindcss-animate";

@import "@luminescent/ui";

@source "../node_modules/@luminescent/ui-qwik";

.markdown {
  @import "@luminescent/ui/formatting";
}

@theme {
  --lum-border-radius: 0.6rem;

  --font-display: "Figtree", "sans-serif";

  --color-gray-50: var(--color-mauve-50);
  --color-gray-100: var(--color-mauve-100);
  --color-gray-200: var(--color-mauve-200);
  --color-gray-300: var(--color-mauve-300);
  --color-gray-400: var(--color-mauve-400);
  --color-gray-500: var(--color-mauve-500);
  --color-gray-600: var(--color-mauve-600);
  --color-gray-700: var(--color-mauve-700);
  --color-gray-800: var(--color-mauve-800);
  --color-gray-900: var(--color-mauve-900);
  --color-gray-950: var(--color-mauve-950);

  --color-lum-accent: var(--color-red-300);
  --color-lum-border: #dfdfdfaa;
  --color-lum-card-bg: var(--color-red-300);
  --color-nav-bg: --alpha(var(--color-red-300) / 20%);
  --color-bg: color-mix(in oklch, var(--color-red-300) 20%, var(--color-black) 80%);
  --lum-border-superellipse: 2;

  --lum-depth: 1
}

@supports (corner-shape: squircle) {
  :root {
    --lum-border-radius: 2rem;
  }
}

html {
  overflow: overlay;
}

* {
  scroll-behavior: smooth;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff20;
  border: 1px solid #ffffff20;
  border-radius: 3px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

.shadow-outline {
  filter: drop-shadow(1px 0px 0px var(--color-gray-950))
    drop-shadow(-1px 0px 0px var(--color-gray-950))
    drop-shadow(0px 1px 0px var(--color-gray-950))
    drop-shadow(0px -1px 0px var(--color-gray-950));
}